@import '../../style-vars.scss';

.test-series-manager-container{
    .heading-row{
        margin-left: 30px;
    }
    .test-series-manager-table{
        .mobile-heading{
            display:none;
        }
    }
    @media only screen and (max-width:$mobile-break-point) {
        .test-series-manager-table{
            .desktop-heading{
                display:none;
            }
            .mobile-heading{
                display:block;
            }
        }
    }
    

}