.test-series-container{ 
   // border: 1px solid red;
    
    .test-series-heading-row{
        //border: 1px solid red;
        margin-left: 30px;
        .back-button{  }
        .test-series-heading{
          //  border: 1px solid;
            flex-grow: 1;
            text-align: center;
        }        
    }
    .test-editor-form-row{       
        .test-editor-form{
            .series-detail-row{
              //  border: 1px solid green;
                margin-right: 20px; 
                margin-left: 10px; 
                justify-content: space-around;
                .duration-col{
                   // border: 1px solid red;

                }
                
                 
            }
            flex-grow: 1;
            .instruction-row{
                padding-right: 50px;
               // border:1px solid red;
                margin-bottom: 10px;
                .instruction-row-item{
                    
                    a{
                        cursor: pointer;
                        color: red;
                    }
                }
            }
        }
    }
    

}

.test-series-add-question-container{
    margin-left: 20px;
    .test-series-heading-row{
        position: fixed;
        width: 100%; 
        border:1px solid green;
        
    }
    .add-question-filter-row{
        //border:  1px solid red;
        margin-right: 0px;
        margin-left: 0px; 
        margin-bottom: 10px;
        .filter-col{
            margin-right: 10px;
            padding: 10px 10px;            
            
            
            .filter-label{
                margin-right: 10px;
                padding-top: 5px;
                //border:1px solid red;
            }
            .filter-value{
               
            }
        }
        
    }
}