@import '../../style-vars.scss';
.app-body-container{ 
    .heading-row{
        justify-content: center;
        padding: 20px 0px;
        background-color: $body-heading-row-backgraond-color;
        color: black;
        .heading-col{
            .heading-text{
                color: inherit;
                font-family: "Open Sans",sans-serif;
                letter-spacing: 0.3px;
                box-sizing: border-box;
                text-transform: capitalize;
                font-size: 24px;
            }
        }
    }
}