.nav-bar-container {
  background-color: #F76439;
  background-image: linear-gradient(54deg, #f55a29 -68%, #ff722e 102%);
  flex-grow: 1; }
  .nav-bar-container.sticky {
    box-shadow: 0px 4px 7px 0 rgba(22, 21, 21, 0.91);
    transition: top 0.1s linear; }
  .nav-bar-container .middle {
    flex-grow: 1; }
    .nav-bar-container .middle .nav-item {
      padding: 11px; }
      .nav-bar-container .middle .nav-item .dropdown-container {
        position: absolute;
        display: none;
        margin-top: 5px;
        background-color: aquamarine; }
        .nav-bar-container .middle .nav-item .dropdown-container ul {
          list-style: none; }
    .nav-bar-container .middle .nav-item:hover .dropdown-container {
      display: inline-block; }
    .nav-bar-container .middle .nav-bar-item {
      font-size: 1.5rem;
      font-family: "Open Sans",sans-serif;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      text-transform: capitalize;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.85);
      position: relative;
      padding: inherit;
      border-radius: 24px;
      cursor: pointer;
      letter-spacing: 0.3px;
      box-sizing: border-box; }
    .nav-bar-container .middle .active {
      background-color: #c74e17;
      border-radius: 24px; }
  .nav-bar-container .right {
    margin-right: 0px; }
    .nav-bar-container .right .justify-content-flex-end {
      justify-content: flex-end; }
    .nav-bar-container .right .my-account-login-container .login-btn {
      padding: 0px 10px;
      cursor: pointer; }
      .nav-bar-container .right .my-account-login-container .login-btn .login-link {
        color: white;
        text-decoration: none; }
    .nav-bar-container .right .my-account-login-container .logout-btn {
      margin-left: 5px;
      padding-left: 2px; }
      .nav-bar-container .right .my-account-login-container .logout-btn .logout-link {
        text-decoration: none;
        color: white; }
  .nav-bar-container .mobile-menu-toggler {
    display: none; }
  .nav-bar-container .mobile-menu-top-container {
    display: none; }
  @media screen and (max-width: 767px) {
    .nav-bar-container .mobile-menu-toggler {
      display: block; }
    .nav-bar-container .mobile-menu-top-container {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 1;
      background-color: black;
      z-index: 1101;
      display: block; }
      .nav-bar-container .mobile-menu-top-container .mobile-menu-items-container {
        background: linear-gradient(to bottom, #e8ecf1 50%, #b4bec7 90%);
        opacity: 1;
        z-index: 1101;
        height: 100%; }
        .nav-bar-container .mobile-menu-top-container .mobile-menu-items-container .nav-item .dropdown-container {
          position: absolute;
          display: none;
          margin-top: 5px;
          background-color: aquamarine; }
          .nav-bar-container .mobile-menu-top-container .mobile-menu-items-container .nav-item .dropdown-container ul {
            list-style: none; }
        .nav-bar-container .mobile-menu-top-container .mobile-menu-items-container .nav-item:hover .dropdown-container {
          display: inline-block; }
        .nav-bar-container .mobile-menu-top-container .mobile-menu-items-container .nav-item:hover .nav-bar-item {
          color: #388d1e;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          font-size: 1.5rem; } }
@media screen and (max-width: 767px) and (orientation: landscape) {
  .nav-bar-container .mobile-menu-items-container {
    border: 1px solid red; } }

  @media screen and (min-width: 767px) and (max-width: 1000px) {
    .nav-bar-container .middle {
      flex-grow: 1;
      margin-left: 10px; } }

/*# sourceMappingURL=style.css.map */
