$container-background:rgb(245, 237, 239);
$border-width:1px;
$font-stack: Helvetica, sans-serif;
$primary-color: #bdcdd1;
$base-height: 200;
$rel-height: $base-height + 2;
$width-sx:0;
$width-sm:600;
$width-md:960;
$width-lg:1280;
$width-xl:1920;
$active-link-background-color:#dcb72fe6;

$top-nav-bar-background-color:white;
$top-nav-bar-text-color:rgba(42, 103, 75, 0.85);
$course-home-link-row:rgba(236, 236, 236, 0.85);

$body-heading-row-backgraond-color:white;


$mobile-break-point:767px;
$tablet-break-point:1000px;
$nav-var-height:80px;
$footer-height-desktop:30px;
$footer-height-tablet:30px;
$footer-height-mobile:50px;
$green:#3e8e41;

$background-image:linear-gradient(54deg, #f55a29 -68%, #ff722e 102%);
$color-orange:#F76439;;
