.blog-container{
    margin-top: 40px;
    .blog-navigation-container{
       // border: 1px solid red;
       box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
       border-top: 1px solid #e0e0e0;
       padding-top: 2rem;
       border: 1px solid #e0e0e0;
       border-radius: 15px;
        .active{
            color: #7e2d40;
            text-decoration: underline;
        }
    }
    .blog-detail-container{
        .blog-summary-header{
            text-align: center;
            background-color: #8b6666;
            color: white;
            font-family: 'Courier New', Courier, monospace;
            padding: 5px 0px;
        }
        .blog-Description{
            background-color: #f3fff3;
            font-family: 'Courier New', Courier, monospace;
            border: 1px solid #ccc;
            padding: 10px;
        }
    }
}