.app-footer-container{
   // position: fixed;
   width: 100%;
   //border: 1px solid red;
   margin-left: 20px;
    margin-right: 20px;
   

    .feedback-form-popup{
        position: fixed;
        bottom:40px;
        right:0;       
        margin: auto;       
        border:1px solid red; 
        width: 0px;
        height:0px;
        display:none;
        z-index: 1;           
    }
    .feedback-form-popup-active{       
        width: 600px;
        height:200px;
        display:block;
    }
}

@media (max-width: 449px) {
    .app-footer-container {
       // background-color: red;
       // display: none;
        //height: 100px;
    }
    
  }