@import '../../style-vars.scss';
.user-home-container{    
   // border:1px solid red;
    width: 100%;
    .body-content{
      //  border: 1px solid red;
        
    }
    .course-home-links-row{        
        position: fixed;
        right: 0px;
        bottom: $footer-height-desktop;
        justify-content:center;       
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        background-color: $course-home-link-row ;   
        z-index: 153;
        .course-link{
            display: inline-block;
            background-color: rgba(14, 134, 233, 0.52);
            font-size: 20px;
            border-radius: 50px;
           // border: 1px solid red;
            padding: 20px 60px; 
            margin-left: 50px; 
            text-transform: uppercase;         
            a{
                color: rgba(255,255,255,0.85);
                font-family: "Open Sans",sans-serif;
                letter-spacing: 0.3px;               
            }
        }
        .course-link:hover{
            background-color: rgba(58, 84, 88, 0.52);
          //  width: 190px;
           // height: 70px;
            box-sizing: border-box;
            box-shadow: 0px 4px 7px 0 rgba(22, 21, 21, 0.91);
        }
        .course-link:focus{          
          //  box-shadow: 0;
        }
    }

    @media screen and (max-width:$mobile-break-point) {
        .body-content{
            display: block;
            margin-bottom: 300px;
        }
        .course-home-links-row{ 
            position: fixed;  
            background-color: $course-home-link-row ;   
            bottom: $footer-height-mobile;     
            .course-link{
                display: block;
                margin-left:30px;  
                width: 80%;
                border: 1px solid red;
                padding: 10px 60px;
                margin-bottom: 5px;
            }
        }
        @media screen and (orientation :landscape){
            .body-content{
                display: block;
                margin-bottom: 120px;
            }
            .course-home-links-row{  
                background-color: $course-home-link-row ;            
                .course-link{
                    display: inline;
                    padding: 10px 30px;
                    margin-left: 5px;                  
                }
            }
        }       
    }
    @media screen and (min-width:$mobile-break-point) and (max-width:$tablet-break-point) {
        .body-content{
            display: block;
            margin-bottom: 110px;
        }
        .course-home-links-row{
            bottom: $footer-height-tablet;
            background-color: $course-home-link-row ;   
            position: fixed;
            .course-link{
               // border: 1px solid red;
                display: inline;
                margin-left: 10px;                   
            }
        }
    }
}