@import '../../style-vars.scss';

$index-toggler-height:2.5em;

.course-home-container{
    .index-container{    
        .index-items{
           // position: absolute;
            width: 100%;
            top: 68px;           
            background: #fff;
            z-index: 1;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);             
                .subject-list{
                  //  margin: 0 auto;
                    padding: 0 0px;
                    margin-bottom: 0px;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-justify-content: flex-start;
                    -ms-flex-pack: justify;
                    justify-content: flex-start;
                    position: relative;
                    text-align: left;
                    white-space: nowrap;
                    .subject{
                     //   box-sizing: unset;
                        //  border: 1px solid blue;
                         color: #212121;
                         white-space: normal;
                         list-style: none;
                          cursor: pointer;
                          padding:10px;
                          margin-right: 2px;                            
                        .subject-text{
                            background-color: rgb(36, 110, 52);  
                            padding:10px;
                          a{                           
                            color:white;
                        }
                          .active{
                            padding:10px;  
                            background-color: rgb(22, 56, 30);  
                            
                        }                                                                      
                        }
                        .active{
                            padding:10px;  
                            background-color: rgb(22, 56, 30);  
                            
                        }       
                       
                        .chapter-list{
                            margin-bottom: 80px;
                            margin-top: 10px;
                            position: absolute; 
                            width: 100%;
                            display: none;                           
                            left: -1px;
                           // width: 100%;
                            //height: 100%;
                            background-color: #fff;
                            box-shadow: 0 6px 12px 0 rgba(0,0,0,.1);
                            overflow: hidden;
                            border-bottom-right-radius: 2px;
                            border-bottom-left-radius: 2px;
                            border-bottom: 1px solid #e0e0e0;
                            border-right: 1px solid #e0e0e0;
                            border-left: 1px solid #e0e0e0;                           
                            .chapter{
                                 //   border:1px solid red;
                                    list-style: none;
                                    display: inline-block;                                   
                                    vertical-align: top;
                                    margin-bottom: -2000px;
                                    padding-bottom: 2000px;
                                    padding: 10px 2px;
                                    margin-bottom: 10px; 
                                .chapter-text{
                                    padding: 10px 20px;
                                    background-color: rgb(36, 110, 52);
                                    .active{
                                        padding: 10px 20px;
                                        background-color: rgb(47, 59, 50);
                                    }

                                }
                                .topic-list{
                                   // border: 1px solid green; 
                                    display: none;
                                    position: absolute;
                                    .topic{
                                        list-style: none;
                                        .topic-text{

                                        }
                                    }
                                }
                            }
                           
                        }
                       
                     }

                     .subject:hover{ 
                        background-color: green;
                        a{
                            color:white;
                        }
                                             
                        .chapter-list{
                            display: block;                           
                        }
                    }

                     .divider{
                         
                         border: 1px solid black;
                         padding-top:5px;
                         padding-bottom:5px;
                     }
                }
                
        }
    }
    .detail-container{
        margin-right: 0px;
    margin-left: 0px;
       // border: 1px solid green;
       // margin-top: 68px;
    }
 
}




