.course-home-container .index-container .index-items {
  width: 100%;
  top: 68px;
  background: #fff;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16); }
  .course-home-container .index-container .index-items .subject-list {
    padding: 0 0px;
    margin-bottom: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    position: relative;
    text-align: left;
    white-space: nowrap; }
    .course-home-container .index-container .index-items .subject-list .subject {
      color: #212121;
      white-space: normal;
      list-style: none;
      cursor: pointer;
      padding: 10px;
      margin-right: 2px; }
      .course-home-container .index-container .index-items .subject-list .subject .subject-text {
        background-color: #246e34;
        padding: 10px; }
        .course-home-container .index-container .index-items .subject-list .subject .subject-text a {
          color: white; }
        .course-home-container .index-container .index-items .subject-list .subject .subject-text .active {
          padding: 10px;
          background-color: #16381e; }
      .course-home-container .index-container .index-items .subject-list .subject .active {
        padding: 10px;
        background-color: #16381e; }
      .course-home-container .index-container .index-items .subject-list .subject .chapter-list {
        margin-bottom: 80px;
        margin-top: 10px;
        position: absolute;
        width: 100%;
        display: none;
        left: -1px;
        background-color: #fff;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
        overflow: hidden;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-bottom: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0; }
        .course-home-container .index-container .index-items .subject-list .subject .chapter-list .chapter {
          list-style: none;
          display: inline-block;
          vertical-align: top;
          margin-bottom: -2000px;
          padding-bottom: 2000px;
          padding: 10px 2px;
          margin-bottom: 10px; }
          .course-home-container .index-container .index-items .subject-list .subject .chapter-list .chapter .chapter-text {
            padding: 10px 20px;
            background-color: #246e34; }
            .course-home-container .index-container .index-items .subject-list .subject .chapter-list .chapter .chapter-text .active {
              padding: 10px 20px;
              background-color: #2f3b32; }
          .course-home-container .index-container .index-items .subject-list .subject .chapter-list .chapter .topic-list {
            display: none;
            position: absolute; }
            .course-home-container .index-container .index-items .subject-list .subject .chapter-list .chapter .topic-list .topic {
              list-style: none; }
    .course-home-container .index-container .index-items .subject-list .subject:hover {
      background-color: green; }
      .course-home-container .index-container .index-items .subject-list .subject:hover a {
        color: white; }
      .course-home-container .index-container .index-items .subject-list .subject:hover .chapter-list {
        display: block; }
    .course-home-container .index-container .index-items .subject-list .divider {
      border: 1px solid black;
      padding-top: 5px;
      padding-bottom: 5px; }
.course-home-container .detail-container {
  margin-right: 0px;
  margin-left: 0px; }

/*# sourceMappingURL=style.css.map */
