.question-preview-container{

    margin-bottom: 50px;
    //border:1px solid red;   
    
   
    .question-preview-heading-row{  
        margin-right: 20px;
            margin-left: 0px;      
        .question-preview-heading{
            text-align: center;
            flex-grow: 1;
        }
    }

    .question-preview-detail-row{
       // border:1px solid red;      
        .col-divider{
            border-right:1px solid;
            margin-bottom: 1rem;
            margin-top: 10px;
        }
        .correct-answer{
            background-color: green;
            color: white;
        }
        .question-preview-detail-col{
            margin-right: 0px;
            margin-left: 0px;
            padding-top: 10px;

            .question-preview-detail-label{
                margin-right: 10px;
                padding:0px 10px;
               // border:1px solid red;
            }
            
            .question-preview-detail-value{
                display: inline;
                margin-right: 5px;
                padding:0px 10px;
                //border: 1px solid red;
                

            }
        }
        
    }

    .invalid-field {       
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #dc3545;
    }
    
}

